/* styles.css */
body {
    color: white;
    background-color: rgb(0,35,58);
}

.mydiv{
    color: rgb(0,35,58);
    background-color:rgb(25,190,231);
    font-family: Century Gothic, Arial, Arial Bold;
    font-size: 16px;
}

header {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

footer {
    background-color: darkgray;
    padding: 10px;
    text-align: center;
}
